<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" style="color:white;">Gestão de controle</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarColor02">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
      </li>
    </ul>
      <form class="form-inline my-2 my-lg-0">
        <input type="search" (ngModelChange)="searchAirplane(key.value)" #key="ngModel" ngModel
               name="key" id="searchName" class="form-control mr-sm-2" placeholder="Pesquisa" required>
      </form>
  </div>
</nav>
<div class="container" id="main-container">
<form #addForm="ngForm" (ngSubmit)="onAddAirplane(addForm)">
  <div class="form-group">
    <label for="name">Modelo</label>
    <input type="text" ngModel name="name" class="form-control" id="name"  required>
  </div>
  <div class="form-group">
    <label for="brand">Marca</label>
    <select type="text" ngModel name="brand" class="form-control" id="brand" placeholder="brand" required>
      <option value="Embraer">Embraer</option>
      <option value="Boeing">Boeing</option>
      <option value="Airbus">Airbus</option>
    </select>
    <label for="brand">Disposição</label>
    <select type="text" ngModel name="sold" class="form-control" id="sold" placeholder="sold" required>
      <option value="true">Vendido</option>
      <option value="false">Disponível</option>
    </select>
  </div>
  <div class="form-group">
    <label for="year">Ano</label>
    <input type="year" ngModel name="year" class="form-control" id="year" required>
  </div>
  <div class="form-group">
    <label for="description">Descrição</label>
    <input type="text" ngModel name="description" class="form-control" id="description"  required>
  </div>
  <div class="modal-footer">
    <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary" >Adiciona</button>
  </div>
  <p>
    Embraer: {{getEmbraer()}}
    Boeing: {{getBoeing()}}
    Airbus: {{getAirbus()}}
  </p>
  <p>
    Dec 90: {{getDec90()}}
    Dec 00: {{getDec00()}}
    </p>
  <p>
    Adicionados essa semana: {{currentWeek()}}
  </p>
</form>
<table class="table">
  <thead class="thead-dark">
  <tr>
    <th scope="col">#</th>
    <th scope="col">Marca</th>
    <th scope="col">Modelo</th>
    <th scope="col">Ano</th>
    <th scope="col">Vendido</th>
    <th scope="col">Excluir</th>
    <th scope="col">Editar</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let airplane of airplanes">
    <th scope="row">{{airplane?.id}}</th>
    <td>{{airplane?.brand}}</td>
    <td>{{airplane?.name}}</td>
    <td>{{airplane?.year}}</td>
    <td><i class="col-6 card-title align-self-center mb-0" *ngIf="airplane?.sold == true"><i class="fa fa-check"></i></i>
    <td><a (click)="onOpenModal(airplane, 'delete')" href="#" class="btn btn-secondary tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Delete"><i class="fa fa-times"></i></a>
    <td><a  (click)="onOpenModal(airplane, 'edit')" href="#" class="btn btn-primary tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Edit"><i class="fa fa-pencil"></i> </a></td>
  </tr>
  </tbody>
</table>
</div>

<div class="modal fade" id="updateAirplaneModal" tabindex="-1" role="dialog" aria-labelledby="airplaneEditModalLabel" aria-hidden="true">
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="updateAirplaneModalLabel">Edit Airplane</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form #editForm="ngForm">
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text"  ngModel="{{editAirplane?.name}}" name="name" class="form-control"  aria-describedby="emailHelp" placeholder="Name">
        </div>
        <input type="hidden" ngModel="{{editAirplane?.id}}" name="id" class="form-control" id="id" placeholder="Id">
        <div class="form-group">
          <label for="brand">Marca</label>
          <select type="text" ngModel="{{editAirplane?.brand}}" name="brand" class="form-control"  placeholder="brand" required>
            <option value="Embraer">Embraer</option>
            <option value="Boeing">Boeing</option>
            <option value="Airbus">Airbus</option>
          </select>
          <label for="brand">Disposição</label>
          <select type="text" ngModel="{{editAirplane?.sold}}" name="sold" class="form-control"  placeholder="sold" required>
            <option value="true">Vendido</option>
            <option value="false">Disponível</option>
          </select>
        </div>
        <div class="form-group">
          <label for="description">Descrição</label>
          <input type="text"  ngModel="{{editAirplane?.description}}" name="description" class="form-control" placeholder="Job title">
        </div>
        <div class="form-group">
          <label for="year">Ano</label>
          <input type="year" ngModel="{{editAirplane?.year}}" name="year" class="form-control"  name="year" placeholder="Year">
        </div>
        <div class="modal-footer">
          <button type="button" id="" data-dismiss="modal" class="btn btn-secondary">Fecha</button>
          <button (click)="onUpdateAirplane(editForm.value)" data-dismiss="modal" class="btn btn-primary">Salvar</button>
        </div>
      </form>
    </div>
  </div>
</div>
</div>

<div class="modal fade" id="deleteAirplaneModal" tabindex="-1" role="dialog" aria-labelledby="deleteModelLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModelLabel">Delete</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete airplane {{deleteAirplane?.name}}?</p>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
          <button (click)="onDeleteAirplane(deleteAirplane?.id)" class="btn btn-danger" data-dismiss="modal">Yes</button>
        </div>
      </div>
    </div>
  </div>
</div>


